<form action ={{action}} method = {{metodo}}  >
    <div class="mb-3">
        <label class="form-label fw-bold" for="producto">Producto</label>
        <input class="form-control" required name="producto">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold" for="precio">Precio</label>
        <input class="form-control " required type="number" name="precio">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold" for="urlImagen">Url Imagen</label>
        <input class="form-control" required type="text" name="urlImagen">
    </div>
    <div class="col-12">
        <input class="btn btn-success" required type="submit" value="Enviar">
    </div>
</form>