<form action="/api/productos" method="post">
    <input type="text" name= 'title' placeholder="Title"/>
    <input type="text" name= 'price' placeholder="Price"/>
    <input type="text"  name= 'thumbnail' placeholder="Imagen"/>
    <input type="submit"/>
</form>
<a href="/productos"><button>Ir a la TABLA</button></a>

